.brandnew-post-work .nectar-post-grid-filters a {
	color: #fff;
	opacity: 0.5;
}
.brandnew-post-work .nectar-post-grid-filters a:hover,
.brandnew-post-work .nectar-post-grid-filters a.active {
	opacity: 1;
}
